*,
*::before,
*::after {
    /* COLORS */
    --dark-blue: rgb(21, 69, 128);
    --white: #ffffff;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, var(--dark-blue), var(--white));
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100vh;
    overflow: auto;
    position: relative;
    text-align: center;
    width: 100%;
}

/* HEADER STYLES */

.heading {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 0 25px;
    z-index: 2;
}

.add__videos {
    background-image: url(../img/add-button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
}