.mensage {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mensage__title {
    color: var(--white);
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
}

.mensage__image {
    width: 40%;
}
